<%= form_for(@personal_detail) do |f| %>
  <% if @personal_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personal_detail.errors.count, "error") %> prohibited this personal_detail from being saved:</h2>

      <ul>
      <% @personal_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :pin %><br>
    <%= f.text_field :pin %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label :designation %><br>
    <%= f.file_field :designation %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.file_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
