<!DOCTYPE html>
<html>
<head>
	<title> Profile </title>
</head>
<body>

	<% if @personal_detail %>
		<div class="profile_container">
		    <div class="profile">
		      <div class="avatar">
		        <img src="<%= avatar %>" onerror="this.onerror=null; this.src='/images/male.png';">
		      </div>
		      <div class="details">
		        <div class="content">
		          <div class="name">
		            <span> <%= @personal_detail.name %> </span>
		          </div>
		          <div class="designation">
		            <span> Student @DTU </span>
		          </div>
		        </div>
		        <div class="profile_links">
		          <div id="edit_profile">
		            <%= link_to edit_personal_detail_path(@personal_detail) do %>
		              <%= image_tag('/images/edit.svg', height: '30', width: '70') %>
		            <% end %>
		          </div>
		          <div id="links">
		            <a href="<%= getLink('facebook') %>"> <img src="/images/facebook.ico" style="height: 30px; width: 30px;"> </a>
		            <a href="<%= getLink('github') %>"> <img src="/images/github.png" style="height: 30px; width: 30px;"> </a>
		            <a href="<%= getLink('linkedin') %>"> <img src="/images/linkedin.png" style="height: 30px; width: 30px;"> </a>
		            <a href="<%= getLink('googleplus') %>"> <img src="/images/googleplus.ico" style="height: 30px; width: 30px;"> </a>
		          </div>
		        </div>
		      </div>
		    </div>
		</div>
		<div class="content_container">
			<div class="main_content">
					    <p>
					      <strong>Name:</strong>
					      <%= @personal_detail.name %>
					    </p>

					    <p>
					      <strong>Email:</strong>
					      <%= current_user.email %>
					    </p>

					    <p>
					      <strong>Dob:</strong>
					      <%= @personal_detail.dob %>
					    </p>

					    <p>
					      <strong>Phone:</strong>
					      <%= @personal_detail.phone %>
					    </p>

					    <p>
					      <strong>Address:</strong>
					      <%= @personal_detail.address %>
					    </p>

					    <p>
					      <strong>City:</strong>
					      <%= @personal_detail.city %>
					    </p>

					    <p>
					      <strong>Pin:</strong>
					      <%= @personal_detail.pin %>
					    </p>

					<% else %>
				  		<%= link_to 'Create Profile', new_personal_detail_path %>
					<% end %>

					<section>
						<div class="about">
							<div class="about_head">
								<span class="section_heading"> About </span>
								<img id="about_head_image" src="/images/add.png">
							</div>
							<div class="about_content">
								<input id="about_content_field" type="text" name="field" placeholder="Field">
								<input id="about_content_value" type="text" name="value" placeholder="Value">
								<input id="about_content_submit" type="submit" name="submit" value="Add">
								<ol id="about_content_list"> 
									<% @about.each do |about| %>
										<%= about.field %>
										<%= about.value %> <br>
									<% end %>
								</ol>
							</div>
						</div>
					</section>

					<section>
						<div class="education">
							<div class="education_head">
								<span class="section_heading"> Education </span>
							</div>
							<div class="class_10">
								<div class="class_10_head">
									<span> Class 10 </span>
									<img id="class_10_head_image" src="/images/add.png">	
								</div>
								<div class="class_10_content">
									<input id="class_10_content_field" type="text" name="field" placeholder="Field">
									<input id="class_10_content_value" type="text" name="value" placeholder="Value">
									<input id="class_10_content_submit" type="submit" name="submit" value="Add">
									<ol id="class_10_content_list"> 
										<% @class_10.each do |c10| %>
											<%= c10.field %>
											<%= c10.value %> <br>
										<% end %>
									</ol>
								</div>
							</div>
							<div class="class_12">
								<div class="class_12_head">
									<span> Class 12 </span>
									<img id="class_12_head_image" src="/images/add.png">	
								</div>
								<div class="class_12_content">
									<input id="class_12_content_field" type="text" name="field" placeholder="Field">
									<input id="class_12_content_value" type="text" name="value" placeholder="Value">
									<input id="class_12_content_submit" type="submit" name="submit" value="Add">
									<ol id="class_12_content_list"> 
										<% @class_12.each do |c12| %>
											<%= c12.field %>
											<%= c12.value %> <br>
										<% end %>
									</ol>
								</div>
							</div>
							<div class="college">
								<div class="college_head">
									<span> College </span>
									<img id="college_head_image" src="/images/add.png">	
								</div>
								<div class="college_content">
									<input id="college_content_field" type="text" name="field" placeholder="Field">
									<input id="college_content_value" type="text" name="value" placeholder="Value">
									<input id="college_content_submit" type="submit" name="submit" value="Add">
									<ol id="college_content_list"> 
										<% @college.each do |college| %>
											<%= college.field %>
											<%= college.value %> <br>
										<% end %>
									</ol>
								</div>
							</div>
						</div>
					</section>

					<section>
						<div class="skills">
							<div class="skills_head">
								<span class="section_heading"> Skills </span>
								<img id="skills_head_image" src="/images/add.png">
							</div>
							<div class="skills_content">
								<input id="skills_content_field" type="text" name="field" placeholder="Field">
								<input id="skills_content_value" type="text" name="value" placeholder="Value">
								<input id="skills_content_submit" type="submit" name="submit" value="Add">
								<ol id="skills_content_list"> 
									<% @skills.each do |skill| %>
										<%= skill.field %>
										<%= skill.value %> <br>
									<% end %>
								</ol>
							</div>
						</div>
					</section>

					<section>
						<div class="external_links">
							<div class="external_links_head">
								<span class="section_heading"> Links </span>
								<img id="external_links_head_image" src="/images/add.png">
							</div>
							<div class="external_links_content">
								<input id="external_links_content_field" type="text" name="field" placeholder="Field">
								<input id="external_links_content_value" type="text" name="value" placeholder="Value">
								<input id="external_links_content_submit" type="submit" name="submit" value="Add">
								<ol id="external_links_content_list"> 
									<% @links.each do |link| %>
										<%= link.field %>
										<%= link.value %> <br>
									<% end %>
								</ol>
							</div>
						</div>
					</section>
			</div>
		</div>
</body>
</html>