<!DOCTYPE html>
<html>
<head>
	<title> Profile </title>
</head>
<body>

	<% if @personal_detail %>
		<div class="profile_container">
		    <div class="profile">
		      <div class="avatar">
		        <img src="<%= avatar %>" onerror="this.onerror=null; this.src='/images/male.png';">
		      </div>
		      <div class="details">
		        <div class="content">
		          <div class="name">
		            <span> <%= @personal_detail.name %> </span>
		          </div>
		          <div class="designation">
		            <span> <%= @personal_detail.designation %> </span>
		          </div>
		        </div>
		        <div class="profile_links">
		          <div id="edit_profile">
		            <%= link_to '/profile/edit', id: "edit" do %>
		              <%= image_tag('/images/edit.svg', height: '30', width: '70') %>
		            <% end %>
		          </div>
		          <div id="links">
		            <a href="<%= getLink('facebook') %>"> <img src="/images/facebook.ico" style="height: 30px; width: 30px;"> </a>
		            <a href="<%= getLink('github') %>"> <img src="/images/github.png" style="height: 30px; width: 30px;"> </a>
		            <a href="<%= getLink('linkedin') %>"> <img src="/images/linkedin.png" style="height: 30px; width: 30px;"> </a>
		            <a href="<%= getLink('googleplus') %>"> <img src="/images/googleplus.ico" style="height: 30px; width: 30px;"> </a>
		          </div>
		        </div>
		      </div>
		    </div>
		</div>
		<div class="content_container">
			<div class="main_content">
					<section>
							<div class="info">
								<div class="info_head">
									<span class="section_heading"> Personal Information </span>
									</div> 
							    <div class="info_content">
							    	<div>
								    <span> Name: </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								    <span> <%= @personal_detail.name %> </span>
								    </div>

								    <div>
								    <span> Email: </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								    <span> <%= current_user.email %> </span>
									</div>

									<div>
									<span> DOB: </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								    <span> <%= @personal_detail.dob %> </span>
								    </div>

									<div>
									<span> Phone: </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								    <span> <%= @personal_detail.phone %> </span>
								    </div>

								    <div>
								    <span> Address: </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								    <span> <%= @personal_detail.address %> </span>
								    </div>

								    <div>
									<span> City: </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								    <span> <%= @personal_detail.city %> </span>
								    </div>

									<div>
									<span> PIN: </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								    <span> <%= @personal_detail.pin %> </span>
								    </div>
								    <div>
									<span> Designation </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								    <span> <%= @personal_detail.designation %> </span>
								    </div>
								    <div>
									<span> Description </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								    <span> <%= @personal_detail.description %> </span>
								    </div>

								</div>
							</div>
					</section>
					<section>
						<div class="about">
							<div class="about_head">
								<span class="section_heading"> About </span>
								</div>
							<div class="about_content">
								<ol id="about_content_list"> 
									<% @about.each do |about| %>
										<div>
										    <span> <%= about.field %>: </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										    <span> <%= about.value %> </span>
										</div>
									<% end %>
								</ol>
							</div>
						</div>
					</section>

					<section>
						<div class="education">
							<div class="education_head">
								<span class="section_heading"> Education </span>
							</div>
							<div class="education_container">
								<div class="class_10">
									<div class="class_10_head">
										<span> Class 10 </span>
										</div>
									<div class="class_10_content">
										<ol id="class_10_content_list"> 
											<% @class_10.each do |c10| %>
												<div>
												    <span> <%= c10.field %>: </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												    <span> <%= c10.value %> </span>
												</div>
											<% end %>
										</ol>
									</div>
								</div>
								<div class="class_12">
									<div class="class_12_head">
										<span> Class 12 </span>
										</div>
									<div class="class_12_content">
										<ol id="class_12_content_list"> 
											<% @class_12.each do |c12| %>
												<div>
												    <span> <%= c12.field %>: </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												    <span> <%= c12.value %> </span>
												</div>
											<% end %>
										</ol>
									</div>
								</div>
								<div class="college">
									<div class="college_head">
										<span> College </span>
									</div>
									<div class="college_content">
										<ol id="college_content_list"> 
											<% @college.each do |college| %>
												<div>
												    <span> <%= college.field %>: </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												    <span> <%= college.value %> </span>
												</div>
											<% end %>
										</ol>
									</div>
								</div>
								<div class="education_other_content">
									<ol id="education_other_content_list"> 
										<% @education.each do |education| %>
											<div>
											    <span> <%= education.field %>: </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											    <span> <%= education.value %> </span>
											</div>
										<% end %>
									</ol>
								</div>
							</div>
						</div>
					</section>

					<section>
						<div class="skills">
							<div class="skills_head">
								<span class="section_heading"> Skills </span>
								</div>
							<div class="skills_content">
								<ol id="skills_content_list"> 
									<% @skills.each do |skill| %>
										<div>
											<span> <%= skill.field %>: </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<span> <%= skill.value %> </span>
										</div>
									<% end %>
								</ol>
							</div>
						</div>
					</section>

					<section>
						<div class="external_links">
							<div class="external_links_head">
								<span class="section_heading"> Links </span>
								</div>
							<div class="external_links_content">
								<ol id="external_links_content_list"> 
									<% @links.each do |link| %>
										<div>
											<span> <%= link.field %>: </span> 
											<span> <%= link.value %> </span>
										</div>
									<% end %>
								</ol>
							</div>
						</div>
					</section>
			</div>
		</div>
	<% else %>
		<%= link_to 'Create Profile', new_personal_detail_path %>
	<% end %>
</body>
</html>