<!DOCTYPE html>
<html>
<head>
<title>My Resume</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
	
	*{
		font-family: sans-serif;
		margin:0;
		padding: 0;

	}

	#v_body{
		background-color: whitesmoke;
   		}

   	.v_top{
   		background-image: url("./images/intro-bg.jpg");
   		background-size: cover;
   		height: 800px;
   	}
   	.v_header{

   		width:100%;
   		background-color: #fff;
		position:fixed;
		top:0;
		
   	}

   	.v_headerlinks {
   		
   		display: flex;
		justify-content: space-around;

   	}

   	.v_headerlinks a{
	text-decoration: none;
	padding: 10px;
	color: purple;
	
}

.v_headerlinks a:visited{
	text-decoration: none;
	color: purple;
}

.v_headerlinks a:hover{
	background-color: #555;
	color: orange;
}

.v_center{
	/*//width:50%;*/
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 39px;
	align-items: center;
	background-color: #111111;
	opacity: .85;

}

.v_innercenterdiv{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}



.v_centerpartlinks{
	width:30%;
}
.v_centerpartlinksinnerdiv{
	display: flex;
	
	justify-content: space-around;
	//background-color: red;

}

.v_centerpartlinksinnerdiv a{
	cursor: pointer;
}

#v_moreAboutMe{
	color:white;
	padding: 20px;
	border:4px solid #cc005f;
	margin-top:20px;
	cursor: pointer;
}

#v_moreAboutMe a{
	text-decoration: none;
	color:white;
}

#v_about{
	margin:60px;
	display: flex;
	justify-content: space-around; 

}

#v_profilepic{
	
	height: 200px;
	width:200px;
	border:1px solid grey;
	border-radius:50%;
	margin-right: 50px;
}

.v_profileAndSkillsAbout{
	display: flex;
	justify-content: space-around;
	margin:100px;
	//width:40%;
}

.v_progressbar{
	width: 300px;
  background-color: #ddd;
  height:10px;
  margin-top:4px;
}

li{
	padding-top: 20px;
	list-style: none;
	font-family: sans-serif;
}

#v_hireMe{
	color:white;
	padding: 20px;
	border:4px solid #cc005f; 
	//margin-top:20px;
	cursor: pointer;
	width:10%;
	
	margin: 10px  auto 10px 550px;
}

#v_hireMe a{
	text-decoration: none;
	color:black;

}

#v_hireMe a:hover{
	
	color:#cc005f;
	text-decoration: none;
}

.v_greysection{
	background-color: #ebebeb;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}	

.v_workExperience_box{
	display: flex;
	justify-content: space-around;
	width:70%;
}


.v_workExperience_box_centerpart{
	display: flex;
	flex-direction: column;

}

.v_workExperience_box_centerpart_zerowidthdiv{
	width:0px;
	border:1px solid red;
}

</style>	
</head>

<body id="v_body">
<div class="v_top">
	<div class="v_header">

		<div class="v_headerlinks">
			<a href="#Education" id="v_header_headerlinks_education" contenteditable="true">Education</a>
			<a href="#Skills" id="v_header_headerlinks_skills" contenteditable="true">Skills</a>
			<a href="#Experience" id="v_header_headerlinks_experience" contenteditable="true">Experience</a>
			<a href="#AdditionalInfo"  id="v_header_headerlinks_additionalinfo" contenteditable="true">Additional Info</a>
			<a href="#SocietiesJoined"  id="v_header_headerlinks_societiesjoined" contenteditable="true">Societies Joined</a>
			<a href="#ContactInfo"  id="v_header_headerlinks_contactinfo" contenteditable="true">Contact Info</a>
		</div>
		
	</div>
		<div class="v_center"> 
			<div class="v_innercenterdiv">
				<h5 id="v_salutationline" style="color:#cc005f; font-size:40px" contenteditable="true">HELLO</h5>
				<h1 id="v_nameofperson" style="font-size: 84px;color: white" contenteditable="true" onmouseleave ="displayOutput()">I'm <em> <%= @personal_detail.name %> </em></h1>
				<br>
				<span id="v_nameofperson_categories" contenteditable="true" style="font-size: 20px;font-weight: bold;color: white">|<em> <%= @personal_detail.designation %> </em>|</span>
				<div id="v_moreAboutMe">
					<a href="#v_aboutme" ><span style="font-size: x-large;"><em>More About Me </em><i class="fa fa-angle-double-down" aria-hidden="true"></i></span> </a>
				</div> 

			</div>
			<div class="v_centerpartlinks">
					<div class="v_centerpartlinksinnerdiv">
						<a href="" id="v_fbicon" ondblclick="fblinkchange()" ><i class="fa fa-facebook-square" aria-hidden="true" style="font-size:40px;"></i></a><br>
						<a href="" id="v_twittericon" ondblclick="twitterlinkchange()"><i class="fa fa-twitter" aria-hidden="true" style="font-size:40px;"></i></a><br>
						<a href="" id="v_githubicon" ondblclick="githublinkchange()"><i class="fa fa-github" aria-hidden="true" style="font-size:40px;"></i></a><br>
						<a href="" id="v_linkedinicon" ondblclick="linkedinlinkchange()"><i class="fa fa-linkedin-square" aria-hidden="true" style="font-size:40px;"></i></a>
						
					</div>	
			</div>
		</div>	
</div>
<br>
<center><h2 id="v_aboutme" contenteditable="true" style="font-family: sans-serif;"><em>About Me</em></h2></center>
<div id="v_about">

<img id="v_profilepic" src="./images/trump.jpg"  ondblclick="profilepicchange()">
<p id="v_aboutme_content" contenteditable="true"> <%= @personal_detail.description %>
</p>
</div>

<div class="v_profileAndSkillsAbout">
	<div style="display: flex;justify-content: space-around;">

		<div class="v_profile" style="margin-right: 40px;">
			<h3 id="v_profileAndSkillsAbout_profileheading" style="font-size: xx-large;" contenteditable="true">PROFILE</h3><br>
			<ul class="v_info-list">
	   				<li>
	   					<strong id="v_profileFieldLi1" contenteditable="true"> Name: </strong>
	   					<span id="v_profileValueLi1" contenteditable="true"><%= @personal_detail.name %></span>
	   				</li>
	   				<li>
	   					<strong id="v_profileFieldLi2" contenteditable="true">Birth Date:</strong>
	   					<span  id="v_profileValueLi2" contenteditable="true"><%= @personal_detail.dob %></span>
	   				</li>
	   				<li>
	   					<strong id="v_profileFieldLi3" contenteditable="true">Job:</strong>
	   					<span  id="v_profileValueLi3" contenteditable="true"><%= @personal_detail.designation %> </span>
	   				</li>
	   				<li>
	   					<strong id="v_profileFieldLi4" contenteditable="true">Website:</strong>
	   					<span id="v_profileValueLi4" contenteditable="true"></span>
	   				</li>
	   				<li>
	   					<strong id="v_profileFieldLi5" contenteditable="true">Email:</strong>
	   					<span id="v_profileValueLi5" contenteditable="true"><%= current_user.email %></span>
	   				</li>

	   			</ul>

		</div>

		<div class="v_skills" style="margin-left:40px ">
		<h3 id="v_profileAndSkillsAbout_skillsheading" style="font-size: xx-large;" contenteditable="true">SKILLS</h3><br>
		<ul class="v_skill-bars">
		<% @skills.each do |skill| %>
			<li>
				<div style="width:300px">
				<div id="v_progressbar1_outerdiv" style="width: 90%;display:flex;justify-content: space-between;">
				<strong id="v_skill1" contenteditable="true"><%= skill.field %></strong> <strong contenteditable="true"><%= skill.value %></strong>
				<span id="v_percentage1" style="border-radius: 30%;border:2px solid #313131;font-size:14px;" contenteditable="true" onmouseleave ="percentage1change()">90%</span>
				</div>
				</div>
				
				<div class="v_progressbar">
			   	<div id="v_progressbar1" style="width:90%;height:100%; background-color: #313131;"></div>
			   	</div>
			</li>
		<% end %>
			<!-- <li>
			<div style="width:300px">
			<div id="v_progressbar2_outerdiv" style="width: 85%;display:flex;justify-content: space-between;">
				<strong id="v_skill2" contenteditable="true">CSS3</strong>
				<span id="v_percentage2" style="border-radius: 30%;border:2px solid #313131;font-size:14px;" contenteditable="true" onmouseleave ="percentage2change()">85%</span>
			</div>
			</div>
			
				<div class="v_progressbar">
			   	<div id="v_progressbar2" style="width: 85%;height:100%;background-color: #313131;"></div>
			   	</div>
			  	
	   	    </li>
					   
			<li>
				<div style="width:300px">
				<div id="v_progressbar3_outerdiv" style="width: 70%;display:flex;justify-content: space-between;">
				<strong id="v_skill3" contenteditable="true">JQuery</strong>
				<span  id="v_percentage3" style="border-radius: 30%;border:2px solid #313131;font-size:14px;" contenteditable="true" onmouseleave ="percentage3change()">70%</span>
				</div>
				</div>
				
			   	<div class="v_progressbar">
				<div id="v_progressbar3" style="width: 70%;background-color: #313131;height:100%;"></div>
				</div>
				
			</li>
					   
			<li>
				<div style="width:300px">
				<div id="v_progressbar4_outerdiv" style="width: 30%;display:flex;justify-content: space-between;">
					<strong id="v_skill4" contenteditable="true">PHP</strong>
				<span id="v_percentage4" style="border-radius: 30%;border:2px solid #313131;font-size:14px;" contenteditable="true" onmouseleave ="percentage4change()">30%</span>
				</div>
				
				<div class="v_progressbar">
				<div id="v_progressbar4" style="width: 30%;background-color: #313131;height:100%;"></div>
				</div>
				</div>
				
			</li>
					 
		    <li>
		    	<div style="width:300px">
		    	<div id="v_progressbar5_outerdiv" style="width: 75%;display:flex;justify-content: space-between;">
					<strong id="v_skill5" contenteditable="true">Wordpress</strong>
					<span id="v_percentage5" style="border-radius: 30%;border:2px solid #313131;font-size:14px;" contenteditable="true" onmouseleave ="percentage5change()">75%</span>
				</div>
		    	
		    	
				<div class="v_progressbar">
				<div id="v_progressbar5" style="width: 75%;background-color: #313131;height:100%;"></div>
				</div>
				</div>
				
			</li> -->	      
		</ul>
		</div>
	</div>
</div>

<div id="v_hireMe">
	<center><a href=""><span style="font-size: x-large;"><em>HIRE ME </em><i class="fa fa-angle-double-down" aria-hidden="true"></i></span> </a></center>
</div> 

<div class="v_greysection">
<h2 style="color:#FF0077;font-size: xx-large;">Work Experience</h2>
	<div class="v_workExperience_box">
		<div class="v_workExperience_box_leftpart">
						<h3>UI Designer</h3><br>
			<p style="color:#888888" >July 2015</p>
		</div> 

		<div class="v_workExperience_box_centerpart">
			<i class="fa fa-graduation-cap" aria-hidden="true" style="font-size:40px; color:red; "></i>
			<div class="v_workExperience_box_centerpart_zerowidthdiv">

			</div>
		</div>

		<div class="v_workExperience_box_rightpart">
			<h3>Awesome Studio</h3><br>
			
		</div>
	</div>
</div>



</body>f
<script type="text/javascript">
var header_headerlinks_education=document.getElementById("v_header_headerlinks_education");	
var header_headerlinks_skills=document.getElementById("v_header_headerlinks_skills");	
var header_headerlinks_experience=document.getElementById("v_header_headerlinks_experience");	
var header_headerlinks_additionalinfo=document.getElementById("v_header_headerlinks_additionalinfo");	
var header_headerlinks_societiesjoined=document.getElementById("v_header_headerlinks_societiesjoined");	
var header_headerlinks_contactinfo=document.getElementById("v_header_headerlinks_contactinfo");	
var salutationline=document.getElementById("v_salutationline");
var nameofperson_categories=document.getElementById("v_nameofperson_categories");
var aboutme=document.getElementById("v_aboutme");
var aboutme_content=document.getElementById("v_aboutme_content");
var profileAndSkillsAbout_profileheading=document.getElementById("v_profileAndSkillsAbout_profileheading");
var profileAndSkillsAbout_skillsheading=document.getElementById("v_profileAndSkillsAbout_skillsheading");
var percentage1=document.getElementById("v_percentage1");
var progressbar1=document.getElementById("v_progressbar1");

var percentage2=document.getElementById("v_percentage2");
var progressbar2=document.getElementById("v_progressbar2");

var percentage3=document.getElementById("v_percentage3");
var progressbar3=document.getElementById("v_progressbar3");

var percentage4=document.getElementById("v_percentage4");
var progressbar4=document.getElementById("v_progressbar4");

var percentage5=document.getElementById("v_percentage5");
var progressbar5=document.getElementById("v_progressbar5");

var profileValueLi1=document.getElementById("v_profileValueLi1");
var profileFieldLi1=document.getElementById("v_profileFieldLi1");

var profileValueLi2=document.getElementById("v_profileValueLi2");
var profileFieldLi2=document.getElementById("v_profileFieldLi2");

var profileValueLi3=document.getElementById("v_profileValueLi3");
var profileFieldLi3=document.getElementById("v_profileFieldLi3");

var profileValueLi4=document.getElementById("v_profileValueLi4");
var profileFieldLi4=document.getElementById("v_profileFieldLi4");

var profileValueLi5=document.getElementById("v_profileValueLi5");
var profileFieldLi5=document.getElementById("v_profileFieldLi5");

	function displayOutput() {
            console.log("hello");
            var input = document.getElementById("v_nameofperson").innerHTML;
            console.log(header_headerlinks_education.innerHTML);
            console.log("input:"+input);
            if (input.length === 0) {
                console.log("input0");
                alert("Please enter a valid input");
                return;
            }
		}

	function fblinkchange(){
		var fblink=prompt("Enter link to your fb profile:","https://www.fb.com");
		document.getElementById("v_fbicon").href=fblink;

        
	}
	


	function twitterlinkchange(){
		var twitterlink=prompt("Enter link to your fb profile:","https://www.twitter.com");
		document.getElementById("v_twittericon").href=twitterlink;   
	}


	function githublinkchange(){
		var githublink=prompt("Enter link to your fb profile:","https://www.github.com");
		document.getElementById("v_githubicon").href=githublink;

        
	}


	function linkedinlinkchange(){
		var linkedinlink=prompt("Enter link to your fb profile:","https://www.linkedin.com");
		document.getElementById("v_linkedinicon").href=linkedinlink;

        
	}
function profilepicchange(){
	var profilepicchange=prompt("Enter link src of image :","./images/trump.jpg");
	if(profilepicchange==null)
		profilepicchange="./images/trump.jpg";
	document.getElementById("v_profilepic").src=profilepicchange;
}

function percentage1change(){
	document.getElementById("v_progressbar1_outerdiv").style.width=percentage1.innerHTML;
	progressbar1.style.width=percentage1.innerHTML;
}

function percentage2change(){
	document.getElementById("v_progressbar2_outerdiv").style.width=percentage2.innerHTML;
	progressbar2.style.width=percentage2.innerHTML;
}

function percentage3change(){
	document.getElementById("v_progressbar3_outerdiv").style.width=percentage3.innerHTML;
	progressbar3.style.width=percentage3.innerHTML;
}

function percentage4change(){
	document.getElementById("v_progressbar4_outerdiv").style.width=percentage4.innerHTML;
	progressbar4.style.width=percentage4.innerHTML;
}

function percentage5change(){
	document.getElementById("v_progressbar5_outerdiv").style.width=percentage5.innerHTML;
	progressbar5.style.width=percentage5.innerHTML;

}
</script>
</html>





