<!DOCTYPE html>
<html>
<head>
  <title>CVMaker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0">
</head>
<body>

	<div class="header"> 
		<img src="/images/Title.png" style="height: 70px; width: 100px;">
		<div class="title">
			<% if user_signed_in? %>
			  Logged in as <strong><%= current_user.email %></strong>
			  <%= link_to 'Edit Profile', edit_user_registration_path, :id => 'navbar-link-signup' %>
			  <%= link_to "Logout", destroy_user_session_path, method: :delete, :id => 'navbar-link-login'  %>
			<% else %>
			  <%= link_to "Login", new_user_session_path, :id => 'navbar-link-login'  %>
			  <%= link_to "Sign up", new_user_registration_path, :id => 'navbar-link-signup'  %>
			<% end %>			
		</div>
	</div>

	<% if user_signed_in? %>
		<ul class="links">
		  <li> <a href="/home"> Home </a> </li>
		  <li> <a href=""> About </a> </li>
		  <li> <a href=""> Contact </a> </li>		  
		  <li> <a href="/profile"> Profile </a> </li>
		  <li> <a href="/templates"> Templates </a>  </li>
		</ul>
	<% end %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>


<div class="footer">
  <div class="footer_upper">
    <div class="footer_contact">
        <span style="font-size: 16px;"> CONTACT </span> 
        <div>   
            <p><img src="/images/location.png" class="fa-fw w3-xlarge w3-margin-right"> Home : 3-E, Kamla Nagar, Delhi - 110007 </p>
            <p><img src="/images/phone.png" class="fa-fw w3-xlarge w3-margin-right"> Phone : 9711301266 </p> 
            <p><img src="/images/mail.png" class="fa-fw w3-xlarge w3-margin-right"> Email :  shubham.aggarwal.1996@gmail.com </p>
          </div>
      </div>  
    <div class="footer_map">
      <img src="/images/map_kamla_nagar.png">
    </div>
  </div>
  <hr>
  <div class="footer_lower">
    <span style="font-size: 12px;"> Copyright © by CVmaker. All Rights Reserved</span>
  </div>
</div>

</body>
</html>
